page-playground {
    #map {
        height: 30%;
        width: 100%;
    }
  
}
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);  

ion-content{
    font-family: 'Hanna', serif;
    
}
ion-footer{
    font-family: 'Hanna', serif;
}