// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);  


ion-list-header{
background-color:#f53d3d;
}

#background{
 background-color:#f53d3d;
 color: #fff;
 font-size: 20px;
 font-family: 'Hanna', serif;
}
#username{
    color: #f53d3d;;
}
.home {
    position: relative;
    top: 3px;
}

.homebutton {
    font-size: 23px;
}

.login {
    position: relative;
    top: 3px;
}

.loginbutton {
    font-size: 23px;
}

.logout {
    position: relative;
    top: 3px;
}

.logoutbutton {
    font-size: 23px;
}

.regist {
    position: relative;
    top: 3px;
}

.registbutton {
    font-size: 23px;
}