<ion-header>
  <ion-navbar>
     <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
    <button *ngIf="isScanning==true" (click) = "startScanning()" >중지</button>
    <ion-spinner end *ngIf="isScanning==true" name="circles"></ion-spinner>
    </ion-buttons>
    <ion-title>
      편리한 주문
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list  *ngIf="major == 0" no-lines>

    <ion-item *ngFor="let beacon of beacons">
    <ion-grid>
      <ion-row>
        <ion-col>Major</ion-col>
        <ion-col>{{beacon.major}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Minor</ion-col>
        <ion-col>{{beacon.minor}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>RSSI</ion-col>
        <ion-col>{{beacon.rssi}}dB</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>TX</ion-col>
        <ion-col>{{beacon.tx}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>ACCURACY</ion-col>
        <ion-col>{{beacon.accuracy}}</ion-col>
      </ion-row>
    </ion-grid>
    </ion-item>

  </ion-list>   
  <div *ngIf="major != 0">{{ store }}</div>
  <template ngFor let-menu [ngForOf]="menu">  
  <ion-list>
  <ion-item>
  
     <ion-thumbnail item-left>     
       <template ngFor let-menuFile [ngForOf]="menuFile">       
         <p *ngIf = "menu.menuNo == menuFile.menuNo">
             <img src = "http://192.168.0.201:9090/bit902web/upload/{{menuFile.filePath}}/{{menuFile.systemName}}"/>
         </p>   
       </template>
    </ion-thumbnail>
    <h2>{{menu.name}}</h2>
    <p>{{menu.price}}원</p>   
    <p>수량:<button ion-button color="light" icon-only (click)="orderPlus()">
        <ion-icon name='arrow-up'></ion-icon>
    </button>
      
     <input type="text" style="width:35px" [(ngModel)]="a"/>
    <button  ion-button color="light" icon-only (click)="orderMinus()">
      <ion-icon name='arrow-down'></ion-icon>
      </button></p>
  <p>{{menu.content}}</p>
    금액: {{ a * menu.price }}원
  
     </ion-item>
    </ion-list>
</template>
<br>
최종 주문금액: 
<button ion-button>결제하기</button>
<ion-icon name="heart"></ion-icon>   
</ion-content>