page-home {
    @import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
    
    #eventTitle{
        font-family: 'Hanna', serif;
    }
    
    .spinner {
        width: 28px;
        height: 28px;
        stroke: #ffa;
        fill: #ff0;
  
    }
    #card{
        color: black;  
    }
    #name{
            color: black;
            font-weight: bold;
        }
    #pricetitle{
        font-size:13px;
        opacity:0.7;
    }
    #price{
        color: #f53d3d;
    }

    #quantity{
        color: #f53d3d;
    }
    #orderz{
        opacity:0.7;
    }


    #top{
        color: #f53d3d;
    }

    #finalAmount{
        font-size: 15px;
    }
    #total{
        font-size: 20px;
            color: #f53d3d;     
    }
    #orderContent{
        color: black;
        border: 1px solid white;
        opacity:0.5;
        font-family: 'Hanna', serif;
    }
    #ordertitle{
        opacity:0.7;
        font-family: 'Hanna', serif;
    }
    ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
   #title{
       color: #f53d3d;   
   }
    #menuicon {   
    color: #f53d3d; 
    }
    ion-navbar{
        color: #f53d3d;  
    }
/* 섬네일
    #test{
    background-color: black;
    margin:10px;
     width:200px;
     height:200px;
     background-size: cover;
     background-repeat: no-repeat;
     background-position-x: center;
     background-position-y: center;
    }
*/ 
    #quantity{
      color: #f53d3d;
    font-size: 20px;
     text-align: center;
     height:20px;
     padding-top: center;
     border: 1px solid white;
ion-title{
     font-family: 'Hanna', serif;
     color:#f53d3d;
}
  }
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);  

ion-content{
    font-family: 'Hanna', serif;
    
}
ion-footer{
    font-family: 'Hanna', serif;
}
ion-title{
     font-family: 'Hanna', serif;
}

}