<ion-header>
  <ion-navbar>
     <button ion-button icon-only menuToggle>
      <ion-icon name="menu" id="menuicon"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button outline color="dark" *ngIf="isScanning==false" (click)="startScanning()" >메뉴보기</button>
      <ion-spinner end *ngIf="isScanning==true" name="crescent"></ion-spinner>
    </ion-buttons>
    <ion-title id="title">
      거기서 주문해
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
 
  <ion-list  *ngIf="major == 10000" no-lines>
    <ion-item *ngFor="let beacon of beacons">
    <ion-grid>
      <ion-row>
        <ion-col>Major</ion-col>
        <ion-col>{{beacon.major}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Minor</ion-col>
        <ion-col>{{beacon.minor}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>RSSI</ion-col>
        <ion-col>{{beacon.rssi}}dB</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>TX</ion-col>
        <ion-col>{{beacon.tx}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>ACCURACY</ion-col>
        <ion-col>{{beacon.accuracy}}</ion-col>
      </ion-row>
    </ion-grid>
    </ion-item>
  </ion-list>   
  
  <ion-item *ngIf="menu==undefined">
    <ion-input type="text" [(ngModel)]="data.search" placeholder="매장이름을 입력하세요" ></ion-input>
    <button ion-button color="danger" item-right (click)=search()><ion-icon name="search"></ion-icon></button>
  </ion-item>

  <div #map id="map"></div>  

   <ion-list>
     <ion-item>
     
    <div *ngIf="menu==undefined && searchList==undefined">
        <div *ngFor="let event of homeEvents">
          <ion-card>
            <ion-thumbnail> 
            <img src = "http://14.32.66.123:10002/bit902web/upload/{{event.filePath}}/{{event.systemName}}" style= "height:200px; width:100%"/>
            </ion-thumbnail> 
            <ion-card-content>
              <ion-card-title>
                {{event.storeName}}
              </ion-card-title>
              <p>
                {{event.eventTitle}}
              </p>
            </ion-card-content>
          </ion-card>
        </div>
    </div>
  </ion-item>
  </ion-list>
 
  <ion-list>
     <div *ngIf="menu==undefined && searchList!=undefined">
      <div *ngFor="let search of searchList; let i = index">
  <ion-item>
    <ion-thumbnail item-left>
        <img src = "http://14.32.66.123:10002/bit902web/upload/{{search.filePath}}/{{search.systemName}}"/>
    </ion-thumbnail>
    <h2>{{search.name}}</h2>
    <p>{{search.adress}}</p>
    <button ion-button clear item-right (click)="detailStore(i)" color="danger">View</button>
  </ion-item>
      </div>
   </div>
</ion-list>
<!--
<ion-list>
  <div *ngIf="menu==undefined && searchList!=undefined">
      <div *ngFor="let search of searchList; let i = index">
          <ion-card>
          <ion-card-content>
            <ion-card-title>
              <button ion-button color="danger" (click)="detailStore(i)" clear>{{search.name}}</button>
             </ion-card-title>              
           </ion-card-content>
         </ion-card>
       </div>
  </div>
  </ion-list>
-->

  <div *ngIf="menu != undefined">{{ store }}</div>

  <template ngFor let-menu [ngForOf]="menu">  
   <ion-card id="card">
  <ion-list>
  <ion-item>
  
     <ion-thumbnail item-left>     
       <template ngFor let-menuFile [ngForOf]="menuFile">       
         <p *ngIf = "menu.menuNo == menuFile.menuNo">
             <img src = "http://14.32.66.123:10002/bit902web/upload/{{menuFile.filePath}}/{{menuFile.systemName}}"/>
         </p>   
       </template>
    </ion-thumbnail>
    
    <h2 id="name">{{menu.name}}</h2>
    <span id=pricetitle>가격:</span><span id="price">{{menu.price}}원</span>
    <p>수량:<button ion-button color="danger" icon-only (click)="orderPlus(menu)">
        <ion-icon name='arrow-up'></ion-icon>
    </button>
     <input type="text" style="width:35px" id="quantity" [(ngModel)]="menu.quantity"/>
    <button  ion-button color="danger" icon-only (click)="orderMinus(menu)">
      <ion-icon name='arrow-down'></ion-icon>
      </button></p>
  <p>{{menu.content}}</p>
    금액: {{ subTotal(menu)}}원 
  
     </ion-item>
    </ion-list>
   </ion-card>
</template>

<div *ngIf="menu != undefined">
  <ion-card>
      <ion-card-header>
        <p id="ordertitle"> 주문요구사항</p>
      </ion-card-header>
    <textarea rows="5" cols="46"[(ngModel)]="orderContent" id="orderContent" name="orderConten"></textarea>
  </ion-card>
  <br>
  <span id="finalAmount">최종주문금액:</span> <span id="total">{{total}}원</span><br><br>
  <button ion-button color="danger" (click)=payment(total)>결제하기</button>

 <!--<span id="finalAmount">최종 주문금액:</span><span id="total">{{ total }}원</span><Br><br>
<button ion-button color="danger" (click)="order()">결제하기</button>-->
</div>
<br>
</ion-content>