page-home {
    .spinner {
        width: 28px;
        height: 28px;
        stroke: #ffa;
        fill: #ff0;
  
    }
}
#card{
    color: black;  
}
#name{
        color: black;
        font-weight: bold;
    }
#pricetitle{
    font-size:13px;
    opacity:0.7;
}
#price{
      color: #f53d3d;
  }

#quantity{
      color: #f53d3d;
  }
#orderz{
     opacity:0.7;
}


#top{
      color: #f53d3d;
  }

#finalAmount{
      font-size: 20px;
  }
#total{
      font-size: 20px;
        color: #f53d3d;     
  }
#orderContent{
      color: black;
      border: 1px solid white;
      opacity:0.5;
  }
#ordertitle{
     opacity:0.7;
}