<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.smartpayapp.repository.mapper.MenuMapper">
	
	<resultMap id="menuMap" type="MenuVO" >
		<result property="menuNo" column="menu_no"/>
		<result property="storeNo" column="store_no"/>
		<result property="sellerNo" column="seller_no"/>
		<result property="name" column="name"/>
		<result property="size" column="size"/>
		<result property="price" column="price"/>
		<result property="content" column="content"/>
		<result property="stName" column="stName"/>
	</resultMap>
<!--	
	 <select id="getStoreByStoreNo" resultMap="menuMap">
    	select m.name, 
    		   m.content,
    		   m.price,
    		   m.size
    	  from tb_menu m inner join 
    	       tb_store s
    		on m.store_no = s.store_no
    	  where m.store_no = #{store_no}
    	 order by m.name desc 	 
    </select>
  -->
  
<!--   	<select id="getStoreByStoreNo"  parameterType="int" resultMap="menuMap"> -->
<!--     	select m.name,  -->
<!--     		   m.content, -->
<!--     		   m.price, -->
<!--     		   m.size, -->
<!--     		   m.menu_no, -->
<!--     		   st.name -->
<!--     	  from tb_menu m -->
<!--     inner join tb_store st -->
<!--     		on m.store_no = st.store_no -->
<!--     inner join tb_seller se -->
<!--     		on st.seller_no = se.seller_no -->
<!--     where m.seller_no = #{sellerNo} -->
<!--     </select> -->
    	   
<!--     	 order by name desc 	   -->
	    
<!-- 	<insert id="insertMenu" parameterType="MenuVO"> -->
<!-- 	    <selectKey keyProperty="menuNo" order="AFTER" resultType="int"> -->
<!-- 	        select last_insert_id() -->
<!-- 	    </selectKey>         -->
<!-- 		insert into tb_menu( -->
<!-- 		   	store_no, -->
<!-- 		   	seller_no, -->
<!-- 		   	name, -->
<!-- 		   	size, -->
<!-- 		   	price, -->
<!-- 		    content -->
<!-- 		) values ( -->
<!-- 			8, -->
<!-- 			#{sellerNo}, -->
<!-- 		    #{name}, -->
<!-- 		    #{size}, -->
<!-- 		    #{price}, -->
<!-- 		    #{content} -->
<!-- 		)     -->
<!--     </insert> -->
   <select id="getStoreByStoreNo"  parameterType="int" resultMap="menuMap">
    	select m.name, 
    		   m.content,
    		   m.seller_no,
    		   m.price,
    		   m.size,
    		   m.menu_no,
    		   st.name as stName
    	  from tb_menu m
    inner join tb_store st
    		on m.store_no = st.store_no
    inner join tb_seller se
    		on st.seller_no = se.seller_no
    where m.seller_no = #{sellerNo}
    </select>
    	   
<!--     	 order by name desc 	  -->
	    
	<insert id="insertMenu" parameterType="MenuVO">
	    <selectKey keyProperty="menuNo" order="AFTER" resultType="int">
	        select last_insert_id()
	    </selectKey>        
		insert into tb_menu(
		   	store_no,
		   	seller_no,
		   	name,
		   	size,
		   	price,
		    content
		) values (
			(select store_no
			   from tb_store
			  where seller_no = #{sellerNo}
			),
			#{sellerNo},
		    #{name},
		    #{size},
		    #{price},
		    #{content}
		)    
    </insert>
   
	
	
   <!--  파일 -->
     <resultMap id="menuFileMap" type="StoreFileVO" >
		<result property="storeFileNo" column="store_file_no"/>
		<result property="storeNo" column="store_no"/>
		<result property="menuNo" column="menu_no"/>
		<result property="sellerNo" column="seller_no"/>
		<result property="oriName" column="ori_name"/>
		<result property="systemName" column="system_name"/>
		<result property="filePath" column="file_path"/>
		<result property="fileSize" column="file_size"/>
	</resultMap>
   
<!--     <select id="selectStoreFileByNo" parameterType="int" resultMap="menuFileMap"> -->
<!-- 	    select sf.store_file_no, -->
<!-- 	           sf.menu_no, -->
<!-- 	           sf.file_path, -->
<!-- 	           sf.store_no, -->
<!-- 	           sf.seller_no -->
<!-- 	      from tb_store_file sf inner join -->
<!-- 	      	   tb_seller s -->
<!-- 	     	on sf.seller_no = s.seller_no -->
<!-- 	     where sf.seller_no = #{sellerNo}       -->
<!-- 	</select>   -->
    
 
	 <select id="selectStoreFileByNo" parameterType="int" resultMap="menuFileMap">
	    select store_file_no,
	    	   menu_no,
	    	   seller_no,
	    	   file_path,	
	    	   ori_name,
	    	   system_name
	      from tb_store_file 
	  	where seller_no = #{sellerNo}      
	</select>  


<!-- 	<select id="selectStoreFileByNo" parameterType="int" resultMap="menuFileMap"> -->
<!-- 	 select	  * -->
<!--     	  from tb_menu_file mf -->
<!--     inner join tb_store st -->
<!--     		on mf.store_no = st.store_no -->
<!--     inner join tb_seller se -->
<!--     		on st.seller_no = se.seller_no -->
<!--     where mf.seller_no = #{sellerNo} -->
<!--     </select>   -->
  <insert id="insertMenuFile" parameterType="StoreFileVO">
		insert into tb_store_file (
			menu_no, 
			seller_no,        
			ori_name, 
			system_name, 
			file_path, 
			file_size
		) values (
			#{menuNo}, 
			#{sellerNo}, 
			#{oriName}, 
			#{systemName},
			#{filePath}, 
			#{fileSize}		
		)
	</insert>
	
	
	
	    
	    
	    
</mapper>