page-orderHistory {
    #orderComplete {
        color: #a0a0a0;
    }
     #cooking {
        color: #4caf50;
    }
    #cookComplete {
        color: #f53d3d;
    }
    #noLogin {
        font-size: 25px;
        text-align: center;
    }
}